<VirtualHost *:80>

ServerName {{ item.domain }}
DocumentRoot {{ item.project }}/{{ item.docroot }}

<Directory "{{ item.project }}/{{ item.docroot }}">
  Options FollowSymLinks
  AllowOverride All
  Require all granted
</Directory>

ErrorLog /var/log/apache2/{{ item.domain }}_error.log
CustomLog /var/log/apache2/{{ item.domain }}_access.log combined
</VirtualHost>
